body {
    font-family: 'Raleway', sans-serif;
}
.header{
    background-color: #BDCCD1;
    color: white;
}
.logo-wrap{
    text-align: center;
}
.logo {

    margin:0 auto;
    width:223px;
    display:block;
}
.offwhite{
    color: #FDFCCC;
}
.white{
    color: white;
}
.blue{
    color:#2B6598;
}
.instructors{
    float: left;
    margin-right: 10px;
    height:96px;
}
.instructoradjust{
    margin-bottom: -.5em;
}
.credentials{
color:white;
background-color: #BDCCD1;
}
.footer{
    background-image: url('/images/footer.jpg');
    background-size: cover
}
.adjustup{
    line-height:0px;
}
.input-group-addon {
    min-width:2em;
    text-align:left;
}
.carousel .item {
    width: 100%; /*slider width*/
    max-height: 600px; /*slider height*/
}
.carousel .item img {
    width: 100%; /*img width*/
}
/*add some makeup*/
.carousel .carousel-control {
    background: none;
    border: none;
    top: 50%;
}
/*full width container*/
@media (max-width: 767px) {
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}