body {
    
    font-family: 'Raleway', sans-serif;
}
.paint{
font-family: 'Finger Paint', cursive; 
opacity:.8;
}
.stand{
position:absolute;
bottom:20px;
right:20px;
}
.xl{
    font-size:1.5em;
}
.paper{
    background-color:white;
}

.logo-wrap{
    text-align: center;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 223px;
}
.offwhite{
    color: #FDFCCC;
}
.white{
    color: white;
}
.black{
    color:black;
}
.blue{
    color:#2B6598;
}
.instructors{
    float: left;
    margin-right: 10px;
    height:96px;
}
.instructoradjust{
    margin-bottom: -.5em;
}
.lesson-pref{
    width:100px;
}
.lesson-pref-input{
    width:800px;
}
.control-label{
    margin-top:12px;
}
.alert-auto {
    display:inline-block;
}

.alert {
  position: fixed;
  z-index: 9999;
}

/* Positioning */ 
.alert {
  right: 10px;
  bottom: 25px;
}
#cover {
    background: url("http://www.aveva.com/Images/ajax-loader.gif") no-repeat scroll center center #FFF;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index:9999
}
.whiteback{
    background-color:rgba(255,255,255,0.4);
    border-color:rgba(255,255,255,0.4);
    border-width:1px;
    border-style:solid;
    border-radius: 3px;
}

/* The max width is dependant on the container (more info below) */
.popover{
    min-width: 200px; /* Max Width of the popover (depending on the container!) */
}
.credentials{
color:white;
background-color: #BDCCD1;
}
.footer-outside{
    background: url('/images/plants.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.footer-inside1{
    background: url('/images/footer2.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.footer-inside2{
    background: url('/images/footer3.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.footer-fence{
    background: url('/images/gates.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.textshadow{
    -webkit-text-shadow: cover;
    -moz-text-shadow: cover;
    -o-text-shadow: cover;
    text-shadow: -3px 3px 1px rgba(150, 150, 150, 1);
}
.textshadow:active {
    text-shadow: -1px 1px 1px rgba(150, 150, 150, 1);
}
.textshadow:visited {
    color: black;
}
.oneline{
    display: inline-block;
}
.adminheight{
    max-height: 30%;
}
.textshadow:hover {
    color: #383838;
    text-decoration:none;
}
.textshadowsm{
    -webkit-text-shadow: cover;
    -moz-text-shadow: cover;
    -o-text-shadow: cover;
    text-shadow: -2px 2px 1px rgba(150, 150, 150, 1);
}
.textshadowsm:active {
    text-shadow: -1px 1px 1px rgba(150, 150, 150, 1);
}
.textshadowsm:visited {
    color: black;
}

.textshadowsm:hover {
    color: #383838;
    text-decoration:none;
}
.textshadownl{
    -webkit-text-shadow: cover;
    -moz-text-shadow: cover;
    -o-text-shadow: cover;
    text-shadow: -2px 2px 1px rgba(150, 150, 150, 1);
}
.adjustup{
    margin-top:-9px;
}
.input-group-addon {
    min-width:2.8em;
    text-align:left;
}

.form-control-inline {
    min-width: 0;
    width: auto;
}

.carousel .item {
    width: 100%; /*slider width*/
    max-height: 600px; /*slider height*/
}
.carousel .item img {
    width: 100%; /*img width*/
}
/*add some makeup*/
.carousel .carousel-control {
    background: none;
    border: none;
    top: 50%;
}
/*full width container*/
@media (max-width: 767px) {
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}