body {
    background-image: url("../images/brickwallxl.png");
    font-family: 'Raleway', sans-serif;
}
.paint{
font-family: 'Finger Paint', cursive; 
opacity:.8;
}
.header{

}
.xl{
    font-size:1.5em;
}
.paper{
    background-color:white;
}

.logo-wrap{
    text-align: center;
}
.logo {

    margin:0 auto;
    width:223px;
    display:block;
    line-height:0;
}
.sign{
    background-image: url("../images/metal.png");
border-color:brown;
border-bottom-style:ridge;    
    border: 2px solid;
    border-radius: 5px;    
    
-webkit-box-shadow: -7px 6px 7px 0px rgba(150,150,150,1);
-moz-box-shadow: -7px 6px 7px 0px rgba(150,150,150,1);
box-shadow: -7px 6px 7px 0px rgba(150,150,150,1);
}
.offwhite{
    color: #FDFCCC;
}
.white{
    color: white;
}
.black{
    color:black;
}
.blue{
    color:#2B6598;
}
.instructors{
    float: left;
    margin-right: 10px;
    height:96px;
}
.instructoradjust{
    margin-bottom: -.5em;
}
.lesson-pref{
    width:100px;
}
.lesson-pref-input{
    width:800px;
}
.control-label{
    margin-top:12px;
}
.alert-auto {
    display:inline-block;
}

.alert {
  position: fixed;
  z-index: 9999;
}

/* Positioning */ 
.alert {
  right: 10px;
  bottom: 25px;
}

/* The max width is dependant on the container (more info below) */
.popover{
    min-width: 200px; /* Max Width of the popover (depending on the container!) */
}
.credentials{
color:white;
background-color: #BDCCD1;
}
.footer{
background: url('/images/plants.png') no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

}
.textshadow{
    -webkit-text-shadow: cover;
    -moz-text-shadow: cover;
    -o-text-shadow: cover;
    text-shadow: -3px 3px 1px rgba(150, 150, 150, 1);
}
.adjustup{
    margin-top:-10px;
}
.input-group-addon {
    min-width:2.8em;
    text-align:left;
}

.form-control-inline {
    min-width: 0;
    width: auto;
}

.carousel .item {
    width: 100%; /*slider width*/
    max-height: 600px; /*slider height*/
}
.carousel .item img {
    width: 100%; /*img width*/
}
/*add some makeup*/
.carousel .carousel-control {
    background: none;
    border: none;
    top: 50%;
}
/*full width container*/
@media (max-width: 767px) {
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}